.course {
  padding-top: $pd-60;
  position: relative;
  overflow: hidden;
  .course__info {
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;

    .course__img {
      padding-bottom: $pd-30;

      @media (max-width: 739px) {
        max-width: 100%;
        height: auto;
      }
    }

    .course__card {
      width: 100%;
      box-shadow: 0 10px 10px 2px rgb(0 0 0 / 10%);
      border-radius: $br-10;
      overflow: hidden;
      background-color: $color-white-1;

      @media (max-width: 739px) {
        padding: 0 20px;
        width: 100%;
        height: auto;

        .course__block {
          width: 100%;
          display: block !important;
        }
      }

      h4 {
        font-size: 38px;
        font-weight: 600;
        margin-bottom: 60px;
      }

      .btn__name {
        margin-right: $pd-16;
      }

      .btn__course {
        display: flex;
        border: 1px solid #e9e9e9;
        border-radius: 50px;
        overflow: hidden;
        align-items: center;
        padding: 12px;
        width: 100%;
        margin-bottom: $pd-16;

        i {
          color: $color-violet-1;
        }

        input {
          border: none;
          outline: none;
          margin-left: $pd-16;
          font-size: $fz-12;
        }
      }
      .course__nation {
        display: flex;
        align-items: center;
        margin-bottom: $pd-16;

        i {
          position: absolute;
          left: 24px;
          color: $color-violet-1;
        }

        .course__selec {
          border: 1px solid #e9e9e9;
          font-size: $fz-12;
          border-radius: $br-50;
          padding: 0 $pd-30;
          height: 38px;
        }
      }
      .course__text {
        position: relative;
        margin-bottom: $pd-50;

        i {
          position: absolute;
          top: 18px;
          left: 10px;
          color: $color-violet-1;
        }

        .course__message {
          width: 100%;
          border: 1px solid #e9e9e9;
          padding: 12px 12px 12px 30px;
          height: 100px;
          line-height: 1.5;
          border-radius: $br-20;
          font-size: $fz-12;
          outline: none;
        }
      }

      .btn-main {
        @include btn-content(13px, 40px, #fff, #b61984, #fff, 30px, 13.5px);
      }

      @media (min-width: 1023px) {
        height: 90%;
      }
      @media (max-width: 1023px) {
        padding-bottom: $pd-50;

        .btn-main {
          width: 100%;
        }
      }
    }
  }
  .course_bottom {
    position: absolute;
    bottom: 0;
  }
}
