// display
$dp-flex: flex;

//color
$color-dark-1: #181818;
$color-violet-1: #b61984;
$color-white-1: #fff;
$color-violet-2: #dcd1f3;
$color-black-1: #000;
//font-size
$fz-12: 12px;
$fz-13: 13px;
$fz-14: 14px;
$fz-16: 16px;
$fz-20: 20px;
//font-weight
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// padding-margin
$pd-8: 8px;
$pd-4: 4px;
$pd-10: 10px;
$pd-16: 16px;
$pd-30: 30px;
$pd-50: 50px;
$pd-60: 60px;
//border-radius
$br-10: 10px;
$br-20: 20px;
$br-30: 30px;
$br-50: 50px;
